/* footer */
footer{
    height: 120px;
    background-color: rgba(100, 100, 100);
    display: flex;
    width: 100%;
}
.foot-icons{ /* div */
    height: 100%;
    display: flex;
    padding: auto 7rem;
    justify-content: center;
}
.icons{
    height: 100%;
    width: auto;
    margin: auto 20px;
}
.row{
    margin: 0;
}