
.navbar-toggler{
    border:none;
    padding:0;
}
.navbar-toggler-icon{
   background-image:url("../../assets/images/burger-w-min.png") !important;
}
.close{
   background-image:url("../../assets/images/x-w-min.png") !important;
}

.navbar{
    height: 85px;
    padding:  0 10%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.nav-link{
    color:white !important;
}

.navbar-brand{
    height: 100%;
    padding: 20px 0;

}

.nav-logo{
    height: 100%;
    margin: auto;
}
@media only screen and (max-width: 900px){
    .navbar-brand{
        display: none;
        
    }
    #basic-navbar-nav{
        margin-top: 10px;
    }
}

