/* ------------------- PROJECTS PAGE ----------------------------- */
/* ... */
.projectLanding{
    height: 100vh;
    background-color: rgba(100, 100, 100);
    overflow: hidden;
    padding: 0;
}
.videoBkg{
    width: 100vw;
  
}
.videoOverlay{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.267);
  
}
.overlayDiv{
    margin: auto;
    text-align: center;
}
.videoLogo{
    height: 150px;
    margin-bottom: 30px;
}
.videoText{
    color:white;    
    font-size: 20px;
}


@media only screen and (max-width: 1050px){
    .videoBkg{
        height: initial;
    }
    .projectLanding{
        height: inherit;
        background-color: rgba(100, 100, 100);
        overflow: hidden;
        padding: 0;
    }
}
/* make media for 800 or less */
/* ________ Main projects div ___________ */
.mainDiv{
    position: relative;
    overflow: visible;
    display: flex;
    padding: 100px 50px 0 50px;
    justify-content: center;
}
.right{
    width: 500px;
    display: flex;
    flex-direction: column;
}
.rightCard{
  margin: auto;
  width: 100%;  
  background-color: rgba(100, 100, 100);
  padding: 50px 50px 50px 50px;
  margin-bottom: 100px;
  color: white;
  border-radius: 10px;
}
.proCard-img{
    width: 100%;
    height: auto;
}

.dep-btn{
    margin: 20px 0;
    width: 100%;
}
.git-btn{
    width: 100%;  
}
.card-title{
    font-size: 30px;
    margin: 20px 0;
}
.card-snippet{
    font-size: 15px;
    line-height: 1.5;
}

.leftScroll{
    margin-right: 200px;
    position: -webkit-sticky;
    position: sticky;
    top: 190px;
    height: 200px;
    width: 500px;
}
.overlay{
    display:none;
}

@media only screen and (max-width: 800px){
    .mainDiv{
        flex-direction:column;
        padding: 100px 10px 0 10px;
    }
    .leftScroll{
        position:static;
        margin: 0 auto 50px auto;
        text-align:center;
        width: 100%;
    }
    .right{
        margin:0 auto;
        width: 100%;
    }
    .rightCard{
        padding: 20px 5px;
        display: flex;
        flex-direction: column;
    }
    .videoOverlay{
        display: none;
    }
    .videoBkg{
        display:none;
    }
    .overlay{
        height:450px;
        width:auto;
        display:flex;
        background-image: url("../../assets/images/backdrop.jpg");
        background-position: center;
        background-repeat: no-repeat;
    }
    .projectLogo{
        height: 75px;
        margin:auto;
    }
    .git-btn{
        width: 100%;  
    }
    .card-title{
        font-size: 25px;
        margin: 15px auto;
        text-align: center;
    }
    .card-snippet{
        font-size: 12px;
        line-height: 1.5;
        text-align: center;
    }
    .card-image{
        margin: 0 auto;
    }
    .dep-btn{
        width: 75%;
        margin: 7px auto;
    }
    .git-btn{
        width: 75%;
        margin: 7px auto;
    }
   

}
