/* 
fonts
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Mono', monospace;
*/

/* body and html settings */
html{
    background-color: rgb(109,103,102);
}
h1, h2, h3, h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 34px;
}
h3{
    font-size: 28px;
}
p{
    font-family: 'Roboto Mono', monospace; 
}