
/* 
fonts
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Mono', monospace;
*/

/* body and html settings */
html{
    background-color: rgb(109,103,102);
}
h1, h2, h3, h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 34px;
}
h3{
    font-size: 28px;
}
p{
    font-family: 'Roboto Mono', monospace; 
}
/* navbar */
a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Roboto Mono', monospace;
}
a:hover{
    color: whitesmoke;
}
.navbar{
    height: 90px;
    padding:  0 10%;
    position: fixed;
    top: 0;
    width: 100%;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.24); */
    z-index: 100;
    color: white;
}

.navbar-brand{
    height: 100%;
    padding: 20px 0;
    margin: auto;
}
.nav-logo{
    height: 100%;
    margin: auto;
}
.link-two{
    margin-left: 20px;
}
.burger{
    height: 100%;
}
.btn-icon{
    height: 70%;
    /* background-color: rgba(100, 100, 100, 0.795); */
}
.navbar-toggler{
    border: none;
    padding: 0px;
}

/* landing */

.landing{
    background-image: url("./assets/images/backdrop.jpg");
    background-size: cover;
    height: 100vh;
    padding:200px 7rem;
    scroll-snap-type: x proximity;
}
.welcome{
    padding: 20px ;
    color: white;
    line-height: 30px;
}
.title{
    margin-bottom: 20px;
}
.snippet {
    margin-bottom: 20px;
    font-family: 'Roboto Mono', monospace;
}
button{
    font-family: 'Roboto Mono', monospace;
}
@media only screen and (max-width: 1000px){
    .nav-logo{
        display: none;
    }
    .hide-small{
        display: none;
    }
    .welcome{
        width: 90%;
        text-align: center;
    }
    .resume{
        width: 60%;
    }
    .landing{
        padding:200px 0;
        display: flex;
        justify-content: center;
    }
    .link-two{
        margin-top: 0;
        margin-left: 0;
    }
    .navbar{
        height: auto;
        width: 100%;
        padding: 20px 30px;
    }
    .tabs{
        margin-top: 10px;
    }

}
/* About me / what I do section */
p{
    line-height: 30px;  
}
.about{
    height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-snap-type: x proximity;
}
.about-me{
    margin: auto;
    width: 75%
}
.w-i-d {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom:90px ;
    height: 100vh;
    scroll-snap-type: x proximity;
}
.card-container{
    display: flex;
    justify-content:center;
    background-image: url('./assets/images/adventure-atmosphere-conifer-conifers-418831-min.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 800px;
}

.card{
    display: flex;
    flex-direction: column;
    padding: 20px 25px !important;
    width: 22%;
    margin: auto 25px;
    border: none;
    height: 70%;
}
.card-img{
    height: 220px;
    width: 220px;
    margin: 0 auto;
}
@media only screen and (max-width: 1291px){
    .card{
        padding: 15px 19px !important;
        width: 26%;
        margin: auto 25px;
    }
}

.connect-btn{
    /* margin-top: 20px; */
    width: 90%;
    margin: 0 auto;
    
}
.card-snippet{
    margin-bottom: 20px;
}
/* footer */
.footer{
    height: 120px;
    background-color: rgba(100, 100, 100);
    display: flex;
    width: 100%;
}
.foot-icons{ 
  margin: auto;

  
}
.icons{
    height: 60px;
    width: auto;
    margin: auto 30px;
}
.row{
    margin: 0;
}
/* ------------------- PROJECTS PAGE ----------------------------- */
/* ... */
.projectLanding{
    height: 100vh;
    background-color: rgba(100, 100, 100);
    overflow: hidden;
    padding: 0;
}
.videoBkg{
    width: 100vw;
    
}
.overlay{
    display: none;
    position: relative;
    height: 100%;
    background-color: rgba(0, 128, 128, 0.308);
}
.projectLogo{
    height: 100px;
}
@media only screen and (max-width: 1050px){
    .videoBkg{
        
        height: initial;

    }
    .projectLanding{
        height: inherit;
        background-color: rgba(100, 100, 100);
        overflow: hidden;
        padding: 0;
    }
}
/* make media for 800 or less */
/* ________ Main projects div ___________ */
.mainDiv{
    position: relative;
    overflow: visible;
    display: flex;
    padding: 100px 50px 0 50px;
    justify-content: center;
}
.right{
    width: 500px;
    display: flex;
    flex-direction: column;
}
.rightCard{
  margin: auto;
  width: 100%;  
  background-color: rgba(100, 100, 100);
  padding: 50px 50px 50px 50px;
  margin-bottom: 100px;
  color: white;
  border-radius: 10px;
}
.dep-btn{
    margin: 20px 0;
    width: 100%;
}
.git-btn{
    width: 100%;  
}
.card-title{
    font-size: 30px;
    margin: 20px 0;
}
.card-snippet{
    font-size: 15px;
    line-height: 1.5;
}

.leftScroll{
    margin-right: 200px;
    position: -webkit-sticky;
    position: sticky;
    top: 190px;
    height: 200px;
    width: 500px;
}

.leftLogo{
    width: 200px;
}


/* MOBILE SIZES */
@media only screen and (max-width: 1000px){
    .card{
        width: 40%;
        margin: 40px auto;
    }
    .card-container{
        display: block;
        height: 100%;
    }
}
@media only screen and (max-width: 698px){
    .card{
        width: 50%;

    }
    .about-me{
        padding:25px;
    }
    .landing{
        padding:100px 0;
        height: 400px;
    }
    /* project page */
   /* ... */
}
@media only screen and (max-width: 400px){
    .card{
        width: 80%;

    }
}
